<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tiger.dao.AccountDao">
    <resultMap id="account" type="tiger.model.Account">
        <id column="id" property="id"/>
        <result column="name" property="name" javaType="string"/>
        <result column="password" property="password"/>
    </resultMap>

    <resultMap id="accountRoles" type="tiger.model.Account">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="roleList" ofType="tiger.model.Role">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="description" column="desc"/>
        </collection>
    </resultMap>

    <insert id="insert" parameterType="tiger.model.Account" flushCache="true" useGeneratedKeys="true" keyProperty="id">
        insert into sys_account (name, password) values(#{name}, #{password});
    </insert>

    <delete id="delete" parameterType="long" flushCache="true">
        delete from sys_account where sys_account.id = #{id}
    </delete>

    <select id="select" parameterType="long"  resultMap="account">
         select * from sys_account where sys_account.id=#{id}
    </select>


    <select id="selectByName" parameterType="string" resultMap="account">
            select * from sys_account where sys_account.name = #{name}
    </select>

    <select id="selectLikeName" parameterType="string" resultMap="account">
            select * from sys_account where sys_account.name like CONCAT("%",#{name},"%")
    </select>

    <select id="selectAll" resultMap="account">
         select * from sys_account
    </select>
    <insert id="insertRole">
        insert into sys_user_role(user_id, role_id) values(#{userId}, #{roleId})
    </insert>

    <select id="selectRoles" resultMap="tiger.dao.RoleDao.role">
      select role.id, role.name, role.desc from  sys_user_role user_role,sys_role role
       where user_role.role_id = role.id AND user_role.user_id = #{id}
    </select>

    <delete id="deleteRole">
        delete from sys_user_role where user_id = #{userId} and role_id=#{roleId}
    </delete>

    <select id="selectPermissions" parameterType="long" resultMap="tiger.dao.PermissionDao.permission">
   select permission.id, permission.name,permission.desc from sys_permission permission, sys_role_permission role_permission
  where permission.id = role_permission.permission_id and role_permission.role_id in
   (
   select user_role.role_id from sys_user_role user_role where user_role.user_id = #{id}
   )
    </select>
</mapper>