<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<div id="login">
    <form>
        <input type="text" id="name" placeholder="username"/>
        <br/>
        <input type="password" id="pwd" placeholder="password"/>
        <br/>
        <input type="submit" value="login"/>
    </form>
</div>
</body>
</html>
<style>
    #login {
        position: absolute;
        margin-left: 40%;
        width: 240px;
        height: 180px;
        margin-top: 15%;
        background-color: dodgerblue;
    }

    input {
        width: 200px;
        margin-top: 20px;
        margin-left: 20px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
    }

</style>