<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tiger.model.Permission">
    <resultMap id="permission" type="tiger.model.Permission">
        <id column="id" property="id"/>
        <result column="permission_code" property="permissionCode"/>
        <result column="permission_name" property="name"/>
        <collection property="urlList" ofType="tiger.model.Url">
            <id column="id" property="id"/>
            <result column="url" property="url"/>
            <result column="desc" property="description"/>
        </collection>
    </resultMap>

</mapper>